#jsdCertificateList{
	list-style-type: none;
	padding: 0;

	li{
		text-align: center;
		display: inline-block;
	}
}

#jsdAssociationList{
	a.lSNext{
		text-align: right;
	}
}

.social-links{
	padding: 0;
	margin: 0;
	list-style-type: none;

	li{
		display: inline-block;

		@include media(xs) {
			margin-bottom: 10px;
		}
	}
}

footer.site-footer{
	background-color: $base-lighter;
	color: $white;
	padding-top: 60px;
	margin-top: 0;

	h1{
		font-size: 18px;
		margin: 10px 0;
		text-transform: uppercase;
		font-weight: $font-bold;
	}

	a{
		color: rgba($white, 0.75);

		&:hover,
		&:focus,
		&:active{
			color: $white;
		}
	}

	.footer-socialize{
		padding: 30px 0;
		margin-top: 30px;
		font-size: 13px;
		border-top: 1px solid rgba($white, 0.2);

		.social-links{
			li{
				a{
					margin-right: 10px;
					width: 40px;
					height: 40px;
					line-height: 40px;
					border: 1px solid rgba($white,0.5);
					text-align: center;
					display: block;
					font-size: 16px;

					.fa{
						line-height: 0;
					}
				}
			}
		}

		.jsdsubscribe{
			input{
				@include border-radius(0);
				height: 40px;
				border: 1px solid rgba($white, 0.5);
				background-color: $base-lighter;
				@include transition(0.25s ease);

				&:focus,
				&:active{
					border-color: $secondary-color;
					background-color: $white;
				}
			}

			.input-group-btn{
				button{
				    @include border-radius(0);
				    background-color: $secondary-color;
				    border-color: $secondary-color;
				    text-transform: uppercase;
				    font-weight: $font-bold;
				    color: $white;
				    cursor: pointer;
				}
			}
		}
	}
	
	.copyright-footer{
		padding: 30px 0;
		font-size: 13px;
		border-top: 1px solid rgba($white, 0.2);

		a{ color: $secondary-color; }

		@include media(xs) {
			text-align: center;

			.pull-right{
				float: none;
				display: block;
			}
		}
	}
}



// map
#jsdMap,
#jsdContactMap{
	height: 150px;
	width: 100%;

	a[href^="http://maps.google.com/maps"]{display:none !important}
	a[href^="https://maps.google.com/maps"]{display:none !important}

	.gmnoprint a, .gmnoprint span, .gm-style-cc {
	    display:none;
	}
	.gmnoprint div {
	    background:none !important;
	}
}