.jsd-sidebar{
	@include media(sm) {
		margin-top: 20px;
	}
}

.jsd-sidebar-menu{
	background-color: $white-darker;

	&.fixit{
		@include media(sm-up) {
			position: fixed;
			top: 15px;
		}
	}
}

.jsd-sb-menu-list{
	padding: 0;
	list-style-type: none;

	> li{
		padding: 10px 15px;
		font-size: 1rem;
		border-left: 2px solid $white-darker;
		@include transition(0.25s linear);

		a{
			color: $black;
			display: block;
		}
		

		&.active{
			border-left: 2px solid $secondary-color-dark;
			background-color: $white-dark;

			> a{
				color: $secondary-color-dark;
			}

			.jsd-sb-sub-projects{
				display: block;
			}
		}

		&:hover{
			border-left: 2px solid $secondary-color;
			background-color: $white-dark;

			> a{
				color: $secondary-color;
			}
		}

	}

	.jsd-sb-sub-projects{
		padding: 0;
		list-style-type: none;
		display: none;

		> li{
			a{
				display: block;
				padding: 5px;
				font-size: 13px;

				&:before{
					content: ' - ';
				}
			}

			&:hover,
			&.active{
				a{
					color: $secondary-color;
				}
			}
		}
	}
}
