.jsd-testimonials{
	background: $light-grey;
	overflow: hidden;
	position: relative;

	&:after{
		content: attr(data-title);
		font-size: 75px;
		font-weight: $font-bold;
		line-height: 0.75;
		text-transform: uppercase;
		text-align: left;
		color: $secondary-color;
		position: absolute;
		left: 0;
		top: 50%;
		width: 50%;
		z-index: 0;
		@include media(sm){ width: 100%; }
		@include transform(translateY(-50%));

		@include media(mb){
			font-size: 36px;
			top: 15px;
			left: 30px;
			@include transform(translateY(0));
		}
	}

	.testimonials-holder{
		position: relative;
		padding-left: 40px;
		margin-top: 50px;

		&:before{
			position: absolute;
			top: -30px;
			left: 15px;
			content: '\f10d';
			font-family: 'fontAwesome';
			font-size: 52px;
			color: darken($light-grey, 7%);
		}
	}
	
	.testimonial-text{
		font-style: italic;
		font-size: 17px;
		line-height: 1.5;
		color: lighten($base-color, 8%);
	}

	.testimonial-person,
	.testimonial-company{
		text-transform: uppercase;
		margin-bottom: 0;
		padding-left: 5px;
	}

	.testimonial-person{
		font-size: 18px;
		&:before{
			content: ' - ';
		}
	}

	.testimonial-company{
		padding-left: 15px;
	}
}

.lSSlideOuter .lSPager.lSpg>li{
	&.active{
		a{ background: $secondary-color; }
	}
	a{
		@include border-radius(0);
		width: 12px;
		height: 12px;

		&:hover{
			background: $secondary-color;
		}
	}
}