// FONTS
$primary-font         	: 'PT Sans', 'Trebuche MS', 'Ubuntu', sans-serif;
$secondary-font       	: 'Droid Sans', 'Ubuntu', 'Helvetica', sans-serif;

// font-sizes
$base-font-size   		: 16px;

// font weights
$font-light		  		: 300;
$font-normal      		: 400;
$font-semibold	  		: 500;
$font-bold        		: 700;

// COLORS
$black        			: #000000;
$white        			: #ffffff;
$white-dark   			: #fcfcfc;
$white-darker 			: #f9f9f9;

$base-color   			: #1C1C1C;
$base-light   			: #252525;
$base-lighter 			: #222222;

$border-color			: rgba($black, 0.1);

$grey		 			: #aaaaaa;
$light-grey	  			: #f5f5f5;

$primary-color			: #C51A1C; //red
$primary-color-dark		: darken($primary-color, 7%);
$primary-color-darker	: darken($primary-color, 15%);

$secondary-color		: #cc9900; //gold
$secondary-color-dark 	: darken($secondary-color, 7%);
$secondary-color-darker	: darken($secondary-color, 15%);

$success      			: #249600; //green
$success-dark 			: darken($success, 7%);
$danger       			: #c2191c; //red
$danger-dark  			: darken($danger, 7%);
