// Header Styling

header.site-header{
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	z-index: 100;
	background: rgba($white, 0.99);

	div#siteLogo{
		position: absolute;
		top: 0;
		left: 0;
		background: $white;
		width: 130px;
	}
}

.top-accessories{
	padding-top: 10px;

	a{
		float: right;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 1.3;
		text-transform: uppercase;

		&.jsd-call{
			margin-right: 10px;
			padding-top: 2px;
			font-size: 18px;
			color: $primary-color;
		}
	}
}

.toggleButton{
	display: none;

	@include media(sm) {
		display: block;
		position: fixed;
		top: 15px;
		right: 15px;
		z-index: 999;
	}
}

.menu-toggle{
	@include transition(transform 0.35s ease);
	background: transparent;
    border: none;
    box-shadow: none;
    color: $white;
    float: right;
    font-size: 32px;
	margin-top: 15px;
    width: 24px;
	height: 24px;
	cursor: pointer;
	position: relative;
	@include transform(rotate(0deg));
	@include transition(.5s ease);

	span{
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $secondary-color;
		opacity: 1;
		left: 0;
		@include transform(rotate(0deg));
		@include transition(.25s ease);

		&:nth-child(1){ top: 0px; }

		&:nth-child(2),
		&:nth-child(3){ top: 8px; }

		&:nth-child(4) { top: 16px; }
	}

	&.open{
		z-index: 999;

		span{
			&:nth-child(1){
				top: 8px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) { @include transform(rotate(45deg)); }
			&:nth-child(3) { @include transform(rotate(-45deg)); }
			
			&:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
		}
	}
}

.right-navs{
	@include media(sm) {
		display: none;

		&.navs-open{
			display: block;
			position: fixed;
			top:0;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			max-width: 420px;
			z-index: 98;
			overflow-y: auto;
			background-color: $base-color;
			padding-top: 15px;

			.top-accessories{
				margin-right: 50px;
				a{
					float: none;
					display: block;
				}
			}

			nav#primaryNav{
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid $base-light;
				float: left;
				width: 100%;

				ul{
					li{
						display: block;
						text-align: center;
					}
				}
			}
		}
	}
}