// Home Page Carousel Styling
[data-img]{
	@include coverimg();
}
.jsd-hero-carousel{
	.lSSlideWrapper{
		// height: 500px;
		// height: 100vh;
	}

	ul{
		padding:0;
		margin: 0;
		list-style-type: none;

		.jsdslide-caption{
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -10%));
			z-index: 9;

			h3{
				color: $white;
				font-weight: $font-bold;
				font-size: 54px;
				opacity: 0;
				text-transform: uppercase;
				margin: 0;
				@include transition(0.3s opacity ease 0.3s);
			}
		}

		li{
			// height: 500px;
			// height: 100vh;
			@include coverimg(fixed);
			&.active{
				.jsdslide-caption{
					h3{ opacity: 1; }
				}
			}
		}

		&.lSFade{
			>li,
			>li.active{
				z-index: initial;
			}
		}

		&:after{
			content: '';
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 8;
			background: rgba($black, 0.5);
		}
	}

	.lSAction{
		> a{
			margin-top: 0;

			.arrow-left,
			.arrow-right{
				width: 30px;
				height: 30px;
				border: 1px solid $white;
				@include transform(rotate(45deg));
			}

			.arrow-left{
				border-top: none;
				border-right: none;
			}
			.arrow-right{
				border-left: none;
				border-bottom: none;
			}
		}
	}

	.move-down-arrow{
		position: absolute;
		top: 100%;
		left: 50%;
		width: 30px;
		height: 30px;
		margin-top: -45px;
		background: transparent;
		border: 2px solid $white-dark;
		border-top: none;
		border-left: none;
		@include transform(rotate(45deg) translateX(-50%));
		cursor: pointer;
		z-index: 11;
		@include animation(arrow 1s linear infinite);
	}
}

@include keyframes(arrow){
	0%,100%{ top: 102%; }
	50%{ top: 100%; }
}
