// Navigation Style

nav#primaryNav{
	float: right;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;

		li{
			display: inline-block;
			position: relative;

			a{
				color: $base-color;
				padding: 20px 10px;
				margin-right: 0px;
				display: block;
				font-size: 15px;
				text-transform: uppercase;
				font-family: $secondary-font;

				@include media(sm){ color: $white; padding: 10px; }
			}

			&.menu-has-children{
				> a{
					position: relative;

					@include media(sm) {
						&:after{
							content: '  \25B2 ';
							position: absolute;
							bottom: -5px;
							color: rgba($primary-color, 0.5);
							left: 0;
							right: 0;
							font-size: 15px;
						}
					}
				}
			}

			&:last-of-type{
				a{
					margin-right: 0;
				}
			}

			ul{
				&.sub-menu{
					visibility: hidden;
					opacity: 0;
					z-index: -1;
					position: absolute;
					top: 100%;
					left: 0;
					width: 200px;
					background-color: rgba($black, 0.9);
					@include transition(0.3s linear);

					> li{
						display: block;

						a{
							color: $white;
							padding: 5px 10px;

							&:hover,
							&:focus,
							&:active{
								color: $secondary-color;
							}
						}
					}

					@include media(sm) {
						visibility: visible;
						opacity: 1;
						z-index: 9;
						position: relative;
						margin-left: auto;
						margin-right: auto;
						@include border-radius(3px);
						margin-bottom: 10px;
						background-color: $base-lighter;

						> li{
							> a{
								font-size: 13px;
								color: $white-darker;
							}
						}
					}
				}
			}

			&:hover{
				>ul.sub-menu{
					visibility: visible;
					opacity: 1;
					z-index: 9;
				}
			}
		}

		&.site-navigation{
			> li{
				> a{
					&:after{
						content: '';
						position: absolute;
						top: 70%;
						left: 0;
						right: 0;
						width: 0;
						height: 1px;
						background-color: $black;
						margin-left: auto;
						margin-right: auto;
						@include transition(0.25s linear);
					}

					&:hover{
						color: $secondary-color;

						&:after{
							width: 10px;
							background-color: $secondary-color;
						}
					}
				}

				&.menu-is-active{
					> a{
						color: $secondary-color;

						&:after{
							width: 10px;
							background-color: $secondary-color;
						}
					}
				}
			}
		}
	}
}