body{
	color: $black;
	font-family: $primary-font;
	overflow-x: hidden !important;
	background: url('./assets/build/img/bglines.png');
	background-repeat-x: no-repeat;
	background-position: center top;
}

*{
	-webkit-outlin:none !important;
	outline:none !important;

	&:hover,
	&:focus{
		-webkit-outlin:none !important;
		outline:none !important;
	}
}

#page{
	.lSAction{
		> a{
			background-image: none;
		}
	}
}


// Links
a{
	color: $secondary-color;
	@include transition(0.3s ease);

	&:hover,
	&:focus,
	&:active{
		color: $secondary-color-dark;
		text-decoration: none;
	}
}