// Contact Page Styles

.contact-form{
	.btn-primary{
		@include border-radius(0);
		background-color: $secondary-color;
		font-family: inherit;
		cursor: pointer;
		border: none;
	}
}

.contact-map{
	#jsdContactMap{
		@include media(sm-up){
			height: 500px;
		}
	}
}