// Detail Page Styles
.card-service-display{
	.service-describe{
		> * + * {
			margin-top: 10px;
		}
	}

	.service-gallery{
		ul{
			list-style-type: none;
			padding: 0;
		}
		a.lSNext{
			text-align: right;
		}
	}
}

.jsd-service-info{
	padding: 0;
	margin: 0;
	list-style-type: none;

	li{
		display: inline-block;
		color: $secondary-color;
		margin: 0 5px 5px 0;

		i.fa{
			color: $secondary-color-darker;
		}
	}
}