// Home Page Styles

#twoPartFull{
	position: relative;
	max-height: 640px;
	overflow: hidden;
	background-color: $white;

	@include media(xs) { max-height: 100%; }

	.jsd-content{
		background-position: top;
		background-attachment: fixed;
		background-size: cover;
		padding: 60px 0;
		position: relative;
	    width: 50%;
	    padding-right: 5%;

	    @include media(sm) { width: 75%; }

	    @include media(xs) { width: 100%; }

	    p{
	    	font-size: 1rem;
	    	color: $base-light;
	    	line-height: 1.4;
	    }

	    a{
	    	margin-top: 20px;
	    	font-weight: $font-bold;
	    }
	}

	.jsd-image{
		position: absolute;
		width: 50%;
		top: 0;
		right: 0px;
		height: 100%;
		background-size: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		@include media(sm) { width: 25%; }
		@include media(xs) { position: relative; height: 200px; width: 100%; }
	}
}

#jsdProjects{
	@include coverimg(fixed);
	position: relative;

	&:before{
		content: '';
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($white, 0.9);
	}
}