.jsd-breadcrumb-section{
	margin-top: 100px;
	background-color: $white-darker;
	padding: 10px;
}

.breadcrumb{
	background-color: transparent;
	@include border-radius(0);
	padding: 0;
	margin: 0;
	float: right;

	a{
		color: $black;
	}
}