// buttons style

.jsd-btn{
	background-color: $secondary-color;
	text-transform: uppercase;
	color: $white;
	padding: 5px 10px;
	@include transition(0.2s linear);

	&:hover,
	&:focus,
	&:active{
		background-color: $secondary-color-dark;
		color: $white-dark;
	}

	&-lg{
		padding: 10px 20px;
	}
	
}