.modal{
	&#proposalForm{
		.modal-dialog.modal-lg{
			max-width: 80%;

			.modal-header{
				font-size: 20px;
				color: $secondary-color;
				text-transform: uppercase;
			}

			.modal-content{
				@include border-radius(0);
				padding: 20px;

				&:after{
					content: '\f1c1';
					font-family: fontAwesome;
					position: absolute;
					left: 0;
					top: 0;
					font-size: 60px;
					color: rgba($black, 0.1);
				}

				.btn-primary{
					@include border-radius(0);
					background-color: $secondary-color;
					font-family: inherit;
					cursor: pointer;
					border: none;
				}
			}
		}
	}
}