.jsd-section{
	padding: 50px 0;
}

.jsd-content{
	h1{
		color: $secondary-color;
		text-transform: uppercase;
		font-weight: $font-bold;

		small{
			display: block;
			font-size: 50%;
			color: $base-lighter;
		}
	}
}

// inner pages wrapper
.card{
	@include border-radius(0);
}

.jsd-main-content{
	border-bottom: 1px solid $border-color;
}

.jsd-main{
	p{
		margin-bottom: 0;
	}

	> * + * {
		margin-top: 15px;
	}
}