.jsd-card{
	margin: 15px 0;
	
	.card-image{
		width: 100%;
		height: 150px;
		@include coverimg();
		position: relative;

		@include media(sm-up){
			height: 250px;
		}

		figcaption{
			position: absolute;
			bottom:0;
			left: 0;
			right: 0;
			padding: 10px;
			color: $white;
			background-color: rgba($black, 0.2);
			@include transition(0.25s linear);
			@include linear-gradient(top, transparent 0, transparent 30%, rgba($black, 0.5) 50%, $black 100%);
			// background: -webkit-linear-gradient(top, transparent 0, transparent 30%, rgba($black, 0.5) 50%, $black 100%);
			// background: -moz-linear-gradient(top, transparent 0, transparent 30%, rgba($black, 0.5) 50%, $black 100%);
			// background: -o-linear-gradient(top, transparent 0, transparent 30%, rgba($black, 0.5) 50%, $black 100%);
			// background: -ms-linear-gradient(top, transparent 0, transparent 30%, rgba($black, 0.5) 50%, $black 100%);
			// background: linear-gradient(to bottom, transparent 0, transparent 30%, rgba($black, 0.5) 50%, $black 100%);

			h2{
				margin: 0;
			}
		}
	}

	h2{
		font-size: 24px;
		margin-top: 15px;
		font-weight: $font-bold;
		text-transform: uppercase;
	}

	a{
		color: $secondary-color;
	}

	&:hover{
		.card-image{
			figcaption{
				color: $secondary-color;
				padding-left: 15px;
			}
		}
	}
}

.card-vacancy{
	font-size: 14px;
	color: $base-light;
}