#scrollToTop{
	position: fixed;
	bottom: 0;
	right: 10px;
	width: 40px;
	height: 30px;
	line-height: 30px;
	background-color: $secondary-color;
	z-index:99;
	@include box-shadow(0 0 20px 0 rgba($black, 0.2));
	text-align: center;
	cursor: pointer;

	span{
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 1px solid $white;
		@include transform(rotate(45deg));
		border-bottom: none;
		border-right: none;
		margin-top: 13px;
	}
}